<div class="row">
  <div class="col-xs-12">
   <button class="btn btn-success">New Recipe</button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
        <div class="pull-left">
          <h4 class="list-group-item-heading"> Name :  {{recipe.name}}</h4>
          <p class="list-group-item-text"> Data : {{recipe.description}}</p>
        </div>
        <div class="pull-right">
          <!--src="{{recipe.imgPath}}" -->
        <img
          [src]="recipe.imgPath"
          alt="{{recipe.name}}"
          class="img-thumbnail"
          style="max-height: 50px;" >
        </div>
      </a>
    </div>

  </div>
  <app-recipes-item></app-recipes-item>
</div>

